  .home-background {
    background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 50%, #95E9E7 100%);
    height: 120vh;
    display: flex; /* ถ้าคุณต้องการจัดการตำแหน่งของลูก */
    flex-direction: column; /* จัดเรียงลูกในแนวตั้ง */
  }
  .home-content-container{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .announcement-header{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  .announcement-header h1{
    font-size: 30px;
  }
  .student-news-header{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  .student-news-header h1{
    font-size: 30px;
  }
  .announcement-container{
    flex:6;
    border : 1px solid #DDDDDD;
  }
  .student-news-container{
    flex:5;
    border : 1px solid #DDDDDD;
  }
  .announcement-box{
    box-sizing: border-box;
    position: absolute;
    width: 60%;
    height: 45vh;

    background: #006765;
    opacity: 0.4;
    border: 1px solid rgba(0, 103, 101, 0.8);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
  }
  .student-news-box{
    box-sizing: border-box;
    position: absolute;
    width: 60%;
    height: 30vh;

    background: #006765;
    opacity: 0.4;
    border: 1px solid rgba(0, 103, 101, 0.8);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
  }
