/* Sidebar */
.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 900px;
    width: 280px;
    background-color: #ffffff;
    z-index: 2;
    margin-top: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 103, 101, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 20px 0px;
  }
  
  .sidebar-header-container{
    text-align: center;
    padding: 10px;

  }
  .sidebar-header-content{
    display: flex;
    flex : 1;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

  }
  .sidebar-header-img{
    flex : 1;
    text-align: center;


  }
  .sidebar-header-circle {
    width: 70%; /* กำหนดความกว้าง */
    height: 70%; /* กำหนดความสูง */
    background: linear-gradient(to bottom, lightblue, white); /* กำหนดสีไล่เฉด */
    border: #000000 solid 2px;
    border-radius: 50%; /* ทำให้เป็นวงกลม */
    margin: 5px auto; /* จัดให้อยู่กลาง */
  }
  .sidebar-header{
    flex : 2;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sidebar-header-underline {
    width: 100%;
    height: 0px;
    border: 1.5px solid rgba(0, 103, 101, 0.4);
  }
  
  .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .user-name {
    font-weight:600;
    margin-top: 10px;
    margin-bottom: 1px;
  }
  
  .user-id {
    color: #555;
    margin-top: 2px;
    font-size: 14px;
  }

  .menu{
    flex : 9;

  }
  .logo-container{
    text-align: center;
    margin-top: 20px;
  }
  .logo{

  }
  .sub-logo{
    font-weight: 300px;

    margin-top: 0px;
  }
  .menu nav {
    margin-top: 20%;


  }
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    padding: 15px;
    margin: 15px 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #006765;
    font-weight: bold;
  }
  
  .logout {
    flex : 1;
    padding: 10px;

  }
  
  .logout a {
    display: block;
    text-align: right;
    font-size: 14px;
    margin-top: 20px;
    padding:10px;
    color: rgb(2, 68, 67);
    text-decoration: none;
  }
  