.background {
    background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 50%, #95E9E7 100%);
    min-height: 130vh; /* เพื่อให้ background ครอบคลุมเต็มหน้าจอ */
    display: flex; /* ถ้าคุณต้องการจัดการตำแหน่งของลูก */
    flex-direction: column; /* จัดเรียงลูกในแนวตั้ง */
  }
  .main-container{
    display: flex;
    min-width: 1161px;
    min-height: 100vh;
  }
  .Side-Space{
    min-height: 100vh;
    width: 280px;
  }
  .content-container{
    display: flex;
    flex-direction: column;
    min-width: 1600px;
    border: #13e200 solid 1px;
  }
