.petition-content-container{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    min-width: 1400px;

  }
  .petition-header{
    flex:1;

  }
  .petition-header h1{
    font-size: 30px;
    
  }
  .showing-petition-container{
    flex:2;

  }
  .showing-petition{
    position: absolute;
    width: 1400px;
    height: 217px;
    background: #FFFFFF;
    border: #e8e8e844 solid 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .main-petition{
    flex:6;
    display: flex;

    padding-top: 40px;
  }
  .petition-menu{
    position: absolute;
    width: 408px;
    height: 311px;

    background: #FFFFFF;
    border: #E8E8E8 solid 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
  }

  .my-petition{
    position: absolute;
    width: 900px;
    height: 725px;
    margin-left: 500px;

    
    background: #FFFFFF;
    border: #E8E8E8 solid 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  
  }
  .sub-header{
    margin: 30px;
  }
  .sub-header h3{
    font-size: 20px;
    font-weight :400;
    margin-left:20px;
  }
  .sub-header-square{
    position: absolute;
    width: 4.84px;
    height: 26.97px;

    background: #006765;
    border-radius: 5px;
  }
